{% block sidebar %}
 <div class="col-sm-4">
     <p class="mt-4">POPULAR POSTS</p>
     <hr>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">
              <div class="fakeimg">Fake Image</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
              <div class="fakeimg">Fake Image</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
              <div class="fakeimg">Fake Image</div>
          </a>
        </li>
      </ul>
 </div>
{% endblock sidebar %}